.navbar {
    height: 60px;
    background-color: #003580;
    display: flex;
    justify-content: center;

    .navbarContainer{
        width: 100%;
        max-width: 1024px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            font-weight: 600;  
            color: #fff; 
            font-size: large;
        }

        .navItems{
            .navButtons{
                margin: 20px;
                padding: 5px 10px;
                background-color: #fff;
                width: 80px;
                height: 30px;
                border-radius: 5px;
                font-weight: bold;
                color: #003580;

            }
        }

    }
}